@font-face {
  font-family: 'PT Sans Caption';
  font-style: normal;
  font-weight: 400;
  src: url(0FlMVP6Hrxmt7-fsUFhlFXNIlpcaeg_1.eot)/*tpa=https://fonts.gstatic.com/s/ptsanscaption/v13/0FlMVP6Hrxmt7-fsUFhlFXNIlpcaeg_1.eot*/;
}
@font-face {
  font-family: 'PT Serif';
  font-style: normal;
  font-weight: 700;
  src: url(EJRSQgYoZZY2vCFuvAnt66qSVy8.eot)/*tpa=https://fonts.gstatic.com/s/ptserif/v12/EJRSQgYoZZY2vCFuvAnt66qSVy8.eot*/;
}
